body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
link {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-right: 76px;
}
.logo-color {
  color: #2e2f42;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-item:active,
.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.menu-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
}
.studio-a {
  position: relative;
  color: #404bbf;
}
.studio-a:after {
  content: "";
  position: absolute;
  max-width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--OCEAN, #404bbf);
  width: 100%;
  bottom: -1px;
  left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-contact {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-contact:hover,
.address-contact:focus {
  color: #404bbf;
}
.hero {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-container {
}

.hero-main {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  margin-top: 48px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.about-us {
  padding: 120px 0;
}
.about-us-name {
  color: #2e2f42;
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-us-list {
  display: flex;
  gap: 24px;
}
.about-us-main {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.about-us-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  max-width: 264px;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
}
.about-us-icon {
}
/*;*/
.about-us-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.abou-us-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.container-team {
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-main {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
}
.team-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.team-conteiner {
  padding: 32px 0;
}
/* */
.team-profession {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-icon-title {
  display: flex;
  gap: 24px;

  justify-content: center;
}

.team-icon-list {
  width: 40px;
  height: 40px;
}
.team-icon-a {
  background-color: var(--IRIS, #4d5ae5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-a:hover {
  background-color: #404bbf;
}
.team-icon-a:focus {
  background-color: #404bbf;
}
.team-icon {
  fill: #f4f4fd;
}
.container-portfolio {
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background: var(--WHITE, #fff);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-img {
  max-width: 100%;
}
.portfolio-cont {
  position: relative;
  overflow: hidden;
}
.portfolio-section {
}

.portfolio-section-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  background-color: var(--IRIS, #4d5ae5);
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-section-text {
  transform: translateY(0%);
}
.portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.portfolio-name-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container-footer {
  display: flex;

  align-items: baseline;
}
.footer {
  padding: 100px 0;
  background-color: var(--NAVY-BLUE, #2e2f42);
}

.footer-right-block {
  margin-right: 120px;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo-color-footer {
  color: #f4f4fd;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.icon-title-footer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.icon-a-footer {
  background-color: var(--IRIS, #4d5ae5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.icon-a-footer:hover {
  background-color: var(--GREEN, #31d0aa);
}
.icon-a-footer:focus {
  background-color: var(--GREEN, #31d0aa);
}
.footer-icon-name {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.icon-list-footer {
  width: 40px;
  height: 40px;
}
.footer-icon {
}
.footer-icon-conteiner {
}
.footer-form-conteiner {
  margin-left: auto;
  margin-left: 80px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-name {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form-input {
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-form-btn {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  bottom: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--WHITE, #fff);
}
.footer-form-icon {
  margin-left: 16px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-svg {
  fill: #ffffff;
}
.modal-close-btn:focus .modal-close-btn-svg {
  fill: #ffffff;
}
.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 16px 0;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.modal-input-wrap {
  position: relative;
}
.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: #4d5ae5;
}
.modal-input {
  width: 100%;
  max-width: 360px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-form-svg {
  fill: #4d5ae5;
}

.modal-form-svg {
  position: absolute;
  left: 16px;
  top: 8px;
  bottom: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus .modal-form-svg {
  fill: #4d5ae5;
}
.modal-footer {
  margin-bottom: 24px;
}
.checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.checkbox-label a {
  color: var(--IRIS, #4d5ae5);

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.checkbox-label span {
}

.checkbox-icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
}
.checkbox-text:checked + .checkbox-label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 24px auto;
  padding: 16px 32px;
}
.modal-commet {
  margin-bottom: 16px;
}
.modal-footer {
}
.policy {
}
